
:root {

}

/* -- NAVBAR -- */

.navigation{
    background-color: #094074;
}

.navigation a {
    color: white;
}


/* -- JUMBOTRON -- */

.jumbotron-fluid p {
    text-align: center;
}

.jumbotron-fluid {
    background-color: #D4AF37;
    color: black;
    border: 1px solid white;
    border-bottom: 2px solid black !important;
    
}

/* -- LIST -- */

h1 {
    text-align: center;
}

.container {
    margin-top: 5%;
}

.main-body {
    background-image: url("assets/paper.jpg") !important;
}

.todo {
    border: 2px solid black;
}

.todo-heading {
    font-weight: bold;
}

.doing {
    border: 2px solid black;
}

.doing-heading {
    font-weight: bold;
}

.done {
    border: 2px solid black;
}

.done-heading {
    font-weight: bold;
}


/* -- FOOTER -- */

